In [1]:
import pandas as pd                      #importing all the tools for developing regression model
import numpy as np
from matplotlib import pyplot as plt


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
from scipy.stats import wilcoxon
import pandas_profiling
from researchpy import ttest
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
bf = pd.read_csv('Before.csv')
aft = pd.read_csv('After.csv')

In [4]:
bf

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Q2,Q8,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,Q5_1,Q5_2,Q5_3,Q5_4,Q5_5,Q5_6,Q5_7,Q5_8,Q6_1,Q6_2,Q6_3,Q8 - Topics,Q8 - Parent Topics
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,Please write the last four digits of your soci...,Please enter today's date,Dispositions - Humility: Being humble enough t...,Dispositions - Self-Reflectiveness: Ability to...,Dispositions - Empathy: The ability to be awar...,Dispositions - Inquisitiveness: Curiosity; see...,Dispositions - Responsibility to promote equit...,Knowledge of one’s own and others’ culture and...,Knowledge - Globalization’s consequences aroun...,Knowledge - Relations of power between differe...,Knowledge - Impact of privilege: Unmerited adv...,Knowledge - Differences and similarities in ec...,Skills - Self-Awareness: The ability to know o...,Skills - Awareness of Others: The ability to k...,Skills - Experiences with diverse cultures: Ha...,Skills - Ability to communicate in more than o...,Skills - Ability to create an environment that...,Skills - Ability to engage in critical and dia...,Skills - Ability to engage in international co...,Skills - Ability to develop international part...,Attitudes - Willingness to provide services an...,Attitudes - Willingness to promote equity and ...,Attitudes - Willingness to value ethical behav...,Q8 - Topics,Q8 - Parent Topics
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}","{""ImportId"":""locationLatitude""}","{""ImportId"":""locationLongitude""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID1_TEXT""}","{""ImportId"":""QID8_TEXT""}","{""ImportId"":""QID3_1""}","{""ImportId"":""QID3_2""}","{""ImportId"":""QID3_3""}","{""ImportId"":""QID3_4""}","{""ImportId"":""QID3_5""}","{""ImportId"":""QID4_1""}","{""ImportId"":""QID4_2""}","{""ImportId"":""QID4_3""}","{""ImportId"":""QID4_4""}","{""ImportId"":""QID4_5""}","{""ImportId"":""QID5_1""}","{""ImportId"":""QID5_2""}","{""ImportId"":""QID5_3""}","{""ImportId"":""QID5_4""}","{""ImportId"":""QID5_5""}","{""ImportId"":""QID5_6""}","{""ImportId"":""QID5_7""}","{""ImportId"":""QID5_8""}","{""ImportId"":""QID6_1""}","{""ImportId"":""QID6_2""}","{""ImportId"":""QID6_3""}","{""ImportId"":""QID8_TEXT_dc59c44cfed04196b565d67...","{""ImportId"":""QID8_TEXT_dc59c44cfed04196b565d67..."
2,2020-09-08 13:20:02,2020-09-08 13:26:09,0,73.194.174.40,100,367,1,2020-09-08 13:26:10,R_1C2AEK9z9Qg3Xk5,NaN,NaN,NaN,NaN,40.578704833984375,-74.2292022705078125,anonymous,EN,2597,NaN,7,7,7,3,3,7,1,1,3,3,7,5,3,1,3,3,1,1,5,6,7,NaN,NaN
3,2020-09-18 16:09:16,2020-09-18 16:12:40,0,192.40.202.200,100,203,1,2020-09-18 16:12:40,R_2DTbiuqNYY31nEV,NaN,NaN,NaN,NaN,41.81500244140625,-71.366302490234375,anonymous,EN,5088,NaN,7,7,7,6,6,7,5,4,5,6,7,7,2,1,6,7,1,1,7,7,7,NaN,NaN
4,2020-09-20 15:57:07,2020-09-20 16:01:42,0,69.141.64.59,100,274,1,2020-09-20 16:01:42,R_1gObArv5fL67ah2,NaN,NaN,NaN,NaN,39.2733001708984375,-74.5876007080078125,anonymous,EN,1607,NaN,6,6,7,5,5,5,5,5,5,5,7,6,6,4,5,5,3,3,5,7,7,NaN,NaN
5,2020-09-21 18:54:31,2020-09-21 19:00:53,0,73.10.68.67,100,381,1,2020-09-21 19:00:53,R_3LcXwzxwMqo3zgY,NaN,NaN,NaN,NaN,39.7512969970703125,-75.0009002685546875,anonymous,EN,1728,NaN,6,6,7,6,6,6,6,7,5,7,7,7,7,3,7,6,5,4,6,7,7,NaN,NaN
6,2020-09-22 14:14:57,2020-09-22 14:18:27,0,100.8.17.25,100,209,1,2020-09-22 14:18:27,R_7aFmDf4SGeFwK1H,NaN,NaN,NaN,NaN,40.2458953857421875,-74.28130340576171875,anonymous,EN,5015,NaN,7,7,7,6,7,7,7,7,7,7,7,7,7,7,7,7,6,6,7,7,7,NaN,NaN
7,2020-09-22 14:22:49,2020-09-22 14:29:19,0,73.80.215.119,100,389,1,2020-09-22 14:29:19,R_reUlUKG5zBBrrAR,NaN,NaN,NaN,NaN,39.6999053955078125,-74.26329803466796875,anonymous,EN,4152,NaN,6,6,7,7,4,5,5,5,6,6,6,5,6,3,4,5,4,2,6,6,7,NaN,NaN
8,2020-09-22 15:22:22,2020-09-22 15:35:26,0,73.29.81.109,100,783,1,2020-09-22 15:35:26,R_24JgS96Ram24Gko,NaN,NaN,NaN,NaN,39.3773040771484375,-74.61229705810546875,anonymous,EN,2607,NaN,7,5,7,5,4,5,7,5,5,7,7,5,4,1,5,5,1,1,7,7,7,NaN,NaN
9,2020-09-22 18:17:59,2020-09-22 18:25:37,0,174.57.120.104,100,457,1,2020-09-22 18:25:38,R_22DZeju31ctNt45,NaN,NaN,NaN,NaN,39.6649932861328125,-74.97100067138671875,anonymous,EN,9895,NaN,6,6,7,3,4,5,2,3,3,3,7,5,3,1,4,5,1,1,6,6,7,NaN,NaN
10,2020-09-23 07:44:18,2020-09-23 07:48:30,0,134.210.252.40,100,251,1,2020-09-23 07:48:31,R_YS9Lma7XwyxurHX,NaN,NaN,NaN,NaN,39.3459930419921875,-74.47229766845703125,anonymous,EN,1272,NaN,7,7,7,6,7,7,7,7,7,7,7,7,7,7,7,6,6,6,7,7,7,NaN,NaN
11,2020-09-23 13:25:21,2020-09-23 13:28:19,0,134.210.64.103,100,177,1,2020-09-23 13:28:19,R_1oaIOGlLl24FtYO,NaN,NaN,NaN,NaN,40.17120361328125,-74.0717010498046875,anonymous,EN,1564,NaN,6,6,7,6,6,6,6,6,5,6,7,6,5,1,3,5,3,3,6,6,6,NaN,NaN
12,2020-09-23 18:05:02,2020-09-23 18:17:04,0,68.83.52.172,100,721,1,2020-09-23 18:17:04,R_2YqPH47y9etcdKZ,NaN,NaN,NaN,NaN,39.3773040771484375,-74.61229705810546875,anonymous,EN,9440,NaN,7,7,7,5,7,6,6,7,6,7,7,7,5,2,6,5,2,2,6,7,6,NaN,NaN
13,2020-09-24 06:24:42,2020-09-24 06:36:29,0,73.248.204.67,100,707,1,2020-09-24 06:36:29,R_1IABgDHtlEhBj6d,NaN,NaN,NaN,NaN,39.422607421875,-74.49590301513671875,anonymous,EN,7421,NaN,5,5,6,3,4,5,5,4,5,5,5,4,6,4,4,2,4,4,7,7,7,NaN,NaN
14,2020-09-24 14:20:09,2020-09-24 14:25:53,0,69.114.172.255,100,344,1,2020-09-24 14:25:53,R_3qvugdQmLDwuaCF,NaN,NaN,NaN,NaN,40.124298095703125,-74.3022003173828125,anonymous,EN,3641,NaN,7,5,7,6,5,5,4,5,7,5,7,5,3,2,3,6,1,1,6,7,7,NaN,NaN
15,2020-11-24 20:36:25,2020-11-24 20:57:12,0,69.114.172.255,100,1246,1,2020-11-24 20:57:12,R_3KMTyPuiXwg4xrd,NaN,NaN,NaN,NaN,40.124298095703125,-74.3022003173828125,anonymous,EN,3641,NaN,7,7,7,6,5,5,5,5,7,6,6,6,3,1,4,6,4,2,4,7,7,NaN,NaN
16,2020-11-30 11:57:16,2020-11-30 12:00:04,0,192.40.202.200,100,168,1,2020-11-30 12:00:05,R_1QrnHsyZWoudwVz,NaN,NaN,NaN,NaN,41.7689056396484375,-71.475799560546875,anonymous,EN,5088,NaN,7,7,7,6,6,7,7,7,7,7,7,7,7,1,7,6,6,6,7,7,7,NaN,NaN

In [5]:
aft

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Q2,Q8,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,Q5_1,Q5_2,Q5_3,Q5_4,Q5_5,Q5_6,Q5_7,Q5_8,Q6_1,Q6_2,Q6_3
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,Please write the last four digits of your soci...,Please enter today's date,Dispositions - Humility: Being humble enough t...,Dispositions - Self-Reflectiveness: Ability to...,Dispositions - Empathy: The ability to be awar...,Dispositions - Inquisitiveness: Curiosity; see...,Dispositions - Responsibility to promote equit...,Knowledge of one’s own and others’ culture and...,Knowledge - Globalization’s consequences aroun...,Knowledge - Relations of power between differe...,Knowledge - Impact of privilege: Unmerited adv...,Knowledge - Differences and similarities in ec...,Skills - Self-Awareness: The ability to know o...,Skills - Awareness of Others: The ability to k...,Skills - Experiences with diverse cultures: Ha...,Skills - Ability to communicate in more than o...,Skills - Ability to create an environment that...,Skills - Ability to engage in critical and dia...,Skills - Ability to engage in international co...,Skills - Ability to develop international part...,Attitudes - Willingness to provide services an...,Attitudes - Willingness to promote equity and ...,Attitudes - Willingness to value ethical behav...
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}","{""ImportId"":""locationLatitude""}","{""ImportId"":""locationLongitude""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID1_TEXT""}","{""ImportId"":""QID8_TEXT""}","{""ImportId"":""QID3_1""}","{""ImportId"":""QID3_2""}","{""ImportId"":""QID3_3""}","{""ImportId"":""QID3_4""}","{""ImportId"":""QID3_5""}","{""ImportId"":""QID4_1""}","{""ImportId"":""QID4_2""}","{""ImportId"":""QID4_3""}","{""ImportId"":""QID4_4""}","{""ImportId"":""QID4_5""}","{""ImportId"":""QID5_1""}","{""ImportId"":""QID5_2""}","{""ImportId"":""QID5_3""}","{""ImportId"":""QID5_4""}","{""ImportId"":""QID5_5""}","{""ImportId"":""QID5_6""}","{""ImportId"":""QID5_7""}","{""ImportId"":""QID5_8""}","{""ImportId"":""QID6_1""}","{""ImportId"":""QID6_2""}","{""ImportId"":""QID6_3""}"
2,2020-11-30 19:20:37,2020-11-30 19:26:02,0,100.8.17.25,100,325,1,2020-11-30 19:26:02,R_WptDf0SUxfKUhUt,NaN,NaN,NaN,NaN,40.2458953857421875,-74.28130340576171875,anonymous,EN,5015,11/30/2020,6,7,7,6,6,7,7,7,7,7,7,7,7,7,7,7,7,6,7,7,7
3,2020-12-01 10:50:27,2020-12-01 10:54:29,0,73.29.81.109,100,242,1,2020-12-01 10:54:30,R_3lYao4KobnpKpcx,NaN,NaN,NaN,NaN,39.3773040771484375,-74.61229705810546875,anonymous,EN,2607,12/1/20,7,6,7,7,6,6,6,6,6,6,7,7,6,2,6,6,1,2,7,7,7
4,2020-12-01 11:01:08,2020-12-01 12:59:02,0,69.141.64.59,100,7073,1,2020-12-01 12:59:02,R_yl31bwqfvj4jvih,NaN,NaN,NaN,NaN,39.2733001708984375,-74.5876007080078125,anonymous,EN,1607,"December 1, 2020",7,7,7,6,6,6,6,6,7,6,6,6,6,3,6,5,3,3,7,7,7
5,2020-12-01 13:14:11,2020-12-01 13:18:05,0,73.80.215.119,100,234,1,2020-12-01 13:18:06,R_2TLbk1l6BfuOzJ9,NaN,NaN,NaN,NaN,39.6999053955078125,-74.26329803466796875,anonymous,EN,4152,12/1/2020,7,7,7,7,6,7,7,7,7,7,7,6,6,2,5,5,6,4,6,7,7
6,2020-12-01 14:44:25,2020-12-01 14:45:40,0,134.210.64.103,100,74,1,2020-12-01 14:45:40,R_3rZHsNZGRCWRX4l,NaN,NaN,NaN,NaN,39.363006591796875,-74.432403564453125,anonymous,EN,1564,12-1-20,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
7,2020-12-01 15:45:51,2020-12-01 15:47:20,0,73.194.174.40,100,89,1,2020-12-01 15:47:21,R_8k2p5vcGzGNz6AF,NaN,NaN,NaN,NaN,40.568695068359375,-74.32019805908203125,anonymous,EN,2597,12/01/2020,7,7,7,5,5,7,5,4,6,7,7,6,5,1,4,5,5,5,7,7,7
8,2020-12-01 17:25:20,2020-12-01 17:28:23,0,68.83.249.128,100,182,1,2020-12-01 17:28:23,R_2UW8H5VcadKiSxZ,NaN,NaN,NaN,NaN,39.9810028076171875,-75.16989898681640625,anonymous,EN,9440,12/1/2020,7,7,NaN,6,7,7,6,6,7,7,7,6,7,1,4,5,6,4,5,7,7
9,2020-12-01 18:52:01,2020-12-01 18:54:33,0,73.10.68.67,100,151,1,2020-12-01 18:54:33,R_1I4wDdWwXwaVV81,NaN,NaN,NaN,NaN,39.7512969970703125,-75.0009002685546875,anonymous,EN,1728,12/01/2020,6,6,7,7,6,6,6,7,6,6,6,6,7,5,6,6,5,5,6,7,7
10,2020-12-02 08:56:30,2020-12-02 09:02:31,0,73.248.102.182,100,360,1,2020-12-02 09:02:32,R_3oWRkkkjJ3UzAlw,NaN,NaN,NaN,NaN,39.6649932861328125,-74.97100067138671875,anonymous,EN,9895,12/2/2020,7,6,7,4,4,6,3,5,5,5,7,5,5,1,6,6,2,4,7,7,7
11,2020-12-02 16:31:34,2020-12-02 16:34:08,0,24.0.36.77,100,154,1,2020-12-02 16:34:09,R_22sqLZpSAjgcQbm,NaN,NaN,NaN,NaN,39.911102294921875,-74.1468963623046875,anonymous,EN,5088,12/2/20,7,7,7,7,6,7,7,6,6,7,7,7,6,1,7,7,2,2,7,7,7
12,2020-12-02 22:22:44,2020-12-02 22:26:45,0,69.114.172.255,100,241,1,2020-12-02 22:26:46,R_2VgB0vR1CGr5qHx,NaN,NaN,NaN,NaN,40.124298095703125,-74.3022003173828125,anonymous,EN,3641,12/2/2020,7,7,7,6,5,5,5,5,6,6,5,5,4,2,4,6,4,2,6,7,6
13,2020-12-03 14:04:08,2020-12-03 14:19:06,0,73.248.204.67,100,898,1,2020-12-03 14:19:06,R_2CZJfSpejGOziun,NaN,NaN,NaN,NaN,39.422607421875,-74.49590301513671875,anonymous,EN,7421,12/3/2020,7,7,7,7,7,7,7,7,7,7,7,7,7,3,5,5,6,5,7,7,7
14,2020-12-01 12:20:02,2020-12-01 12:21:47,0,134.210.234.133,88,104,0,2020-12-08 12:21:54,R_30vo3k6yllz9lIH,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,1272,12/1/2020,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

In [6]:
bf = bf.drop([0,1])
aft = aft.drop([0,1])
aft = aft.fillna(7)

In [7]:
bf = bf.drop_duplicates(subset='Q2')
bf.reset_index(drop=True, inplace=True)
aft.reset_index(drop=True, inplace=True)

In [8]:
bf.drop(['StartDate', 'EndDate','Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName',
          'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 
          'Q8', 'Q5_1','Q5_2','Q5_3','Q5_4','Q5_5', 'Q5_6','Q5_7','Q5_8', 'Q6_1','Q6_2','Q6_3', 'Q8 - Topics', 'Q8 - Parent Topics'], axis=1, inplace=True)
bf.rename(columns={'Q2':'ID'}, inplace=True)

In [9]:
aft.drop(['StartDate', 'EndDate','Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName',
          'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 
          'Q8', 'Q5_1','Q5_2','Q5_3','Q5_4','Q5_5', 'Q5_6','Q5_7','Q5_8', 'Q6_1','Q6_2','Q6_3'], axis=1, inplace=True)
aft.rename(columns={'Q2':'ID'}, inplace=True)

In [10]:
bf = bf.sort_values('ID')
bf.reset_index(drop=True, inplace=True)
bf = bf.apply(pd.to_numeric)


aft = aft.sort_values('ID')
aft.reset_index(drop=True, inplace=True)
aft = aft.apply(pd.to_numeric)

In [11]:
bf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      13 non-null     int64
 1   Q3_1    13 non-null     int64
 2   Q3_2    13 non-null     int64
 3   Q3_3    13 non-null     int64
 4   Q3_4    13 non-null     int64
 5   Q3_5    13 non-null     int64
 6   Q4_1    13 non-null     int64
 7   Q4_2    13 non-null     int64
 8   Q4_3    13 non-null     int64
 9   Q4_4    13 non-null     int64
 10  Q4_5    13 non-null     int64
dtypes: int64(11)
memory usage: 1.2 KB

In [12]:
aft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      13 non-null     int64
 1   Q3_1    13 non-null     int64
 2   Q3_2    13 non-null     int64
 3   Q3_3    13 non-null     int64
 4   Q3_4    13 non-null     int64
 5   Q3_5    13 non-null     int64
 6   Q4_1    13 non-null     int64
 7   Q4_2    13 non-null     int64
 8   Q4_3    13 non-null     int64
 9   Q4_4    13 non-null     int64
 10  Q4_5    13 non-null     int64
dtypes: int64(11)
memory usage: 1.2 KB

In [13]:
bf.rename(columns={'Q3_1':'BQ3_1'}, inplace=True)
bf.rename(columns={'Q3_2':'BQ3_2'}, inplace=True)
bf.rename(columns={'Q3_3':'BQ3_3'}, inplace=True)
bf.rename(columns={'Q3_4':'BQ3_4'}, inplace=True)
bf.rename(columns={'Q3_5':'BQ3_5'}, inplace=True)
bf.rename(columns={'Q4_1':'BQ4_1'}, inplace=True)
bf.rename(columns={'Q4_2':'BQ4_2'}, inplace=True)
bf.rename(columns={'Q4_3':'BQ4_3'}, inplace=True)
bf.rename(columns={'Q4_4':'BQ4_4'}, inplace=True)
bf.rename(columns={'Q4_5':'BQ4_5'}, inplace=True)

bf

      ID  BQ3_1  BQ3_2  BQ3_3  BQ3_4  BQ3_5  BQ4_1  BQ4_2  BQ4_3  BQ4_4  BQ4_5
0   1272      7      7      7      6      7      7      7      7      7      7
1   1564      6      6      7      6      6      6      6      6      5      6
2   1607      6      6      7      5      5      5      5      5      5      5
3   1728      6      6      7      6      6      6      6      7      5      7
4   2597      7      7      7      3      3      7      1      1      3      3
5   2607      7      5      7      5      4      5      7      5      5      7
6   3641      7      5      7      6      5      5      4      5      7      5
7   4152      6      6      7      7      4      5      5      5      6      6
8   5015      7      7      7      6      7      7      7      7      7      7
9   5088      7      7      7      6      6      7      5      4      5      6
10  7421      5      5      6      3      4      5      5      4      5      5
11  9440      7      7      7      5      7      6      6      7      6      7
12  9895      6      6      7      3      4      5      2      3      3      3

In [14]:
aft.rename(columns={'Q3_1':'AQ3_1'}, inplace=True)
aft.rename(columns={'Q3_2':'AQ3_2'}, inplace=True)
aft.rename(columns={'Q3_3':'AQ3_3'}, inplace=True)
aft.rename(columns={'Q3_4':'AQ3_4'}, inplace=True)
aft.rename(columns={'Q3_5':'AQ3_5'}, inplace=True)
aft.rename(columns={'Q4_1':'AQ4_1'}, inplace=True)
aft.rename(columns={'Q4_2':'AQ4_2'}, inplace=True)
aft.rename(columns={'Q4_3':'AQ4_3'}, inplace=True)
aft.rename(columns={'Q4_4':'AQ4_4'}, inplace=True)
aft.rename(columns={'Q4_5':'AQ4_5'}, inplace=True)



aft

      ID  AQ3_1  AQ3_2  AQ3_3  AQ3_4  AQ3_5  AQ4_1  AQ4_2  AQ4_3  AQ4_4  AQ4_5
0   1272      7      7      7      7      7      7      7      7      7      7
1   1564      6      6      6      6      6      6      6      6      6      6
2   1607      7      7      7      6      6      6      6      6      7      6
3   1728      6      6      7      7      6      6      6      7      6      6
4   2597      7      7      7      5      5      7      5      4      6      7
5   2607      7      6      7      7      6      6      6      6      6      6
6   3641      7      7      7      6      5      5      5      5      6      6
7   4152      7      7      7      7      6      7      7      7      7      7
8   5015      6      7      7      6      6      7      7      7      7      7
9   5088      7      7      7      7      6      7      7      6      6      7
10  7421      7      7      7      7      7      7      7      7      7      7
11  9440      7      7      7      6      7      7      6      6      7      7
12  9895      7      6      7      4      4      6      3      5      5      5

In [15]:
combined = bf.merge(aft, left_index=True, on='ID')

In [16]:
combined

,ID,BQ3_1,BQ3_2,BQ3_3,BQ3_4,BQ3_5,BQ4_1,BQ4_2,BQ4_3,BQ4_4,BQ4_5,AQ3_1,AQ3_2,AQ3_3,AQ3_4,AQ3_5,AQ4_1,AQ4_2,AQ4_3,AQ4_4,AQ4_5
0,1272,7,7,7,6,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
1,1564,6,6,7,6,6,6,6,6,5,6,6,6,6,6,6,6,6,6,6,6
2,1607,6,6,7,5,5,5,5,5,5,5,7,7,7,6,6,6,6,6,7,6
3,1728,6,6,7,6,6,6,6,7,5,7,6,6,7,7,6,6,6,7,6,6
4,2597,7,7,7,3,3,7,1,1,3,3,7,7,7,5,5,7,5,4,6,7
5,2607,7,5,7,5,4,5,7,5,5,7,7,6,7,7,6,6,6,6,6,6
6,3641,7,5,7,6,5,5,4,5,7,5,7,7,7,6,5,5,5,5,6,6
7,4152,6,6,7,7,4,5,5,5,6,6,7,7,7,7,6,7,7,7,7,7
8,5015,7,7,7,6,7,7,7,7,7,7,6,7,7,6,6,7,7,7,7,7
9,5088,7,7,7,6,6,7,5,4,5,6,7,7,7,7,6,7,7,6,6,7
10,7421,5,5,6,3,4,5,5,4,5,5,7,7,7,7,7,7,7,7,7,7
11,9440,7,7,7,5,7,6,6,7,6,7,7,7,7,6,7,7,6,6,7,7
12,9895,6,6,7,3,4,5,2,3,3,3,7,6,7,4,4,6,3,5,5,5

In [17]:
statistics = combined[combined.columns[1:21]].describe()
statistics

,BQ3_1,BQ3_2,BQ3_3,BQ3_4,BQ3_5,BQ4_1,BQ4_2,BQ4_3,BQ4_4,BQ4_5,AQ3_1,AQ3_2,AQ3_3,AQ3_4,AQ3_5,AQ4_1,AQ4_2,AQ4_3,AQ4_4,AQ4_5
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,6.461538,6.153846,6.923077,5.153846,5.230769,5.846154,5.076923,5.076923,5.307692,5.692308,6.769231,6.692308,6.923077,6.230769,5.923077,6.461538,6.000000,6.076923,6.384615,6.461538
std,0.660225,0.800641,0.277350,1.344504,1.363442,0.898717,1.846688,1.800997,1.315587,1.436698,0.438529,0.480384,0.277350,0.926809,0.862316,0.660225,1.154701,0.954074,0.650444,0.660225
min,5.000000,5.000000,6.000000,3.000000,3.000000,5.000000,1.000000,1.000000,3.000000,3.000000,6.000000,6.000000,6.000000,4.000000,4.000000,5.000000,3.000000,4.000000,5.000000,5.000000
25%,6.000000,6.000000,7.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,7.000000,6.000000,7.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
50%,7.000000,6.000000,7.000000,6.000000,5.000000,6.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000,7.000000,6.000000,6.000000,7.000000,6.000000,6.000000,6.000000,7.000000
75%,7.000000,7.000000,7.000000,6.000000,6.000000,7.000000,6.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [18]:
combined[combined.columns[1:21]].median()

BQ3_1    7.0
BQ3_2    6.0
BQ3_3    7.0
BQ3_4    6.0
BQ3_5    5.0
BQ4_1    6.0
BQ4_2    5.0
BQ4_3    5.0
BQ4_4    5.0
BQ4_5    6.0
AQ3_1    7.0
AQ3_2    7.0
AQ3_3    7.0
AQ3_4    6.0
AQ3_5    6.0
AQ4_1    7.0
AQ4_2    6.0
AQ4_3    6.0
AQ4_4    6.0
AQ4_5    7.0
dtype: float64

In [19]:
cases = pd.read_csv('Cases.csv')

In [20]:
q31 = pd.read_csv('Q3_1.csv')
q32 = pd.read_csv('Q3_2.csv')
q33 = pd.read_csv('Q3_3.csv')
q34 = pd.read_csv('Q3_4.csv')
q35 = pd.read_csv('Q3_5.csv')
q41 = pd.read_csv('Q4_1.csv')
q42 = pd.read_csv('Q4_2.csv')
q43 = pd.read_csv('Q4_3.csv')
q44 = pd.read_csv('Q4_4.csv')
q45 = pd.read_csv('Q4_5.csv')

In [21]:
q31.describe()

          Before      After
count  13.000000  13.000000
mean    6.461538   6.769231
std     0.660225   0.438529
min     5.000000   6.000000
25%     6.000000   7.000000
50%     7.000000   7.000000
75%     7.000000   7.000000
max     7.000000   7.000000

In [22]:
threeone = ttest(q31.Before, q31.After, paired=True, equal_variances=False)
threeone

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   6.461538
1         Mean for After =   6.769231
2                T value =   2.500000
3                Z value =  -1.348400
4      Two sided p value =   0.203100
5                      r =  -0.264400

In [23]:
threetwo = ttest(q32.Before, q32.After, paired=True, equal_variances=False)
threetwo

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   6.153846
1         Mean for After =   6.692308
2                T value =   0.000000
3                Z value =  -2.022600
4      Two sided p value =   0.053300
5                      r =  -0.396700

In [24]:
threethree = ttest(q33.Before, q33.After, paired=True, equal_variances=False)
threethree

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   6.923077
1         Mean for After =   6.923077
2                T value =   1.500000
3                Z value =   0.000000
4      Two sided p value =   1.000000
5                      r =   0.000000

In [25]:
threefour = ttest(q34.Before, q34.After, paired=True, equal_variances=False)
threefour

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.153846
1         Mean for After =   6.230769
2                T value =   0.000000
3                Z value =  -2.665600
4      Two sided p value =   0.007100
5                      r =  -0.522800

In [26]:
threefive = ttest(q35.Before, q35.After, paired=True, equal_variances=False)
threefive

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.230769
1         Mean for After =   5.923077
2                T value =   1.500000
3                Z value =  -1.886900
4      Two sided p value =   0.070700
5                      r =  -0.370100

In [27]:
fourone = ttest(q41.Before, q41.After, paired=True, equal_variances=False)
fourone

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.846154
1         Mean for After =   6.461538
2                T value =   0.000000
3                Z value =  -2.201400
4      Two sided p value =   0.030500
5                      r =  -0.431700

In [28]:
fourtwo = ttest(q42.Before, q42.After, paired=True, equal_variances=False)
fourtwo

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.076923
1         Mean for After =   6.000000
2                T value =   2.500000
3                Z value =  -2.170400
4      Two sided p value =   0.032600
5                      r =  -0.425700

In [29]:
fourthree = ttest(q43.Before, q43.After, paired=True, equal_variances=False)
fourthree

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.076923
1         Mean for After =   6.076923
2                T value =   2.000000
3                Z value =  -2.240400
4      Two sided p value =   0.028200
5                      r =  -0.439400

In [30]:
fourfour = ttest(q44.Before, q44.After, paired=True, equal_variances=False)
fourfour

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.307692
1         Mean for After =   6.384615
2                T value =   4.000000
3                Z value =  -2.578400
4      Two sided p value =   0.009000
5                      r =  -0.505700

In [31]:
fourfive = ttest(q45.Before, q45.After, paired=True, equal_variances=False)
fourfive

C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2957: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\Jun\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2971: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

  Wilcoxon signed-rank test   results
0        Mean for Before =   5.692308
1         Mean for After =   6.461538
2                T value =   7.000000
3                Z value =  -1.836300
4      Two sided p value =   0.066400
5                      r =  -0.360100

In [32]:
MeanPlot = pd.read_csv('MeanPlot.csv')

In [33]:
MeanPlot

,Unnamed: 0,BQ3_1,AQ3_1,BQ3_2,AQ3_2,BQ3_3,AQ3_3,BQ3_4,AQ3_4,BQ3_5,AQ3_5,BQ4_1,AQ4_1,BQ4_2,AQ4_2,BQ4_3,AQ4_3,BQ4_4,AQ4_4,BQ4_5,AQ4_5
0,mean,6.461538,6.769231,6.153846,6.692308,6.923077,6.923077,5.153846,6.230769,5.230769,5.923077,5.846154,6.461538,5.076923,6.000000,5.076923,6.076923,5.307692,6.384615,5.692308,6.461538
1,std,0.660225,0.438529,0.800641,0.480384,0.277350,0.277350,1.344504,0.926809,1.363442,0.862316,0.898717,0.660225,1.846688,1.154701,1.800997,0.954074,1.315587,0.650444,1.436698,0.660225

In [34]:
Q3 = {'Q3':['BQ3_1', 'AQ3_1', 'BQ3_2', 'AQ3_2', 'BQ3_3', 'AQ3_3' ,
                     'BQ3_4', 'AQ3_4' ,'BQ3_5','AQ3_5'], 
        'Mean':[6.461538,6.769231, 6.153846, 6.692308, 6.923077, 6.923077, 5.153846, 6.230769, 5.230769, 5.923077]}

Q3 = pd.DataFrame(Q3, columns=['Q3', 'Mean'])


Q4 = {'Q4':['BQ4_1','AQ4_1','AQ4_2' 'BQ4_2','AQ4_2', 'BQ4_3', 'AQ4_3' ,'BQ4_4', 'AQ4_4' ,'BQ4_5','AQ4_5'], 
        'Mean':[5.846154, 6.461538, 5.076923, 6.000000, 5.076923, 6.076923, 5.307692, 6.384615, 5.692308,6.461538]}

Q4 = pd.DataFrame(Q4, columns=['Q4', 'Mean'])

In [35]:
Q3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q3      10 non-null     object
 1   Mean    10 non-null     float64
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes

In [36]:
Q4

           Q4      Mean
0       BQ4_1  5.846154
1       AQ4_1  6.461538
2  AQ4_2BQ4_2  5.076923
3       AQ4_2  6.000000
4       BQ4_3  5.076923
5       AQ4_3  6.076923
6       BQ4_4  5.307692
7       AQ4_4  6.384615
8       BQ4_5  5.692308
9       AQ4_5  6.461538